@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Section */

header{
    height:5rem;
    width:98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    top:0.5rem;
    z-index:2;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, .8) !important;
    border-radius:10px;
}

#logo{
    height:90%;
    width:5rem;
    background-image: url("Images/logo/mits-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15rem;
}

#nav{
    display: flex;
    height:100%;
    width:60%;
    align-items: center;
}

#nav ul{
    display: flex;
    height:100%;
    width:100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.2rem;
    color: #344767;
}

#nav ul li a{
    text-decoration: none;
    color: #344767;
}

#nav ul li:hover{
    transform: scale(1.1);
}

/* Main */
main{
    height:100%;
    width:100%;
    overflow: scroll;
}

main::-webkit-scrollbar{
    display: none;
}

#carouselExampleInterval{
    width:100%;
    height:80%;
}

#carouselExampleInterval div{
    width:100%;
    height: 100%;
}

#carouselExampleInterval div div{
    width:100%;
    height: 100%;
}


#carouselExampleInterval div div img {
    height:100%;
    width:100%;
    object-fit: cover;
}

/* Wave */
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    margin-top:-8rem;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }
  
  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 20s;
  }
  
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 23s;
  }
  
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 26s;
  }
  
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 33s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
  
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
/* Timer */
#timer-container{
    height:25%;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:-10rem;
}

.timer{
    height:100%;
    width:40%;
    border:0.5px solid white;
    border-radius: 1rem;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, .8) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_timer{
    height:70%;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time-element{
    height:100%;
    width:8.2rem;
}

.timerHeading{
    height:30%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#344767;
    font-weight: 900;
    margin-top:0.2rem;
}

.timerHeading h6{
    font-weight:800;
}

.time-element .time{
    height:70%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,  #2884ca, #2fff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:0.2rem;
}

.time-element .time h1{
    font-size:3.8rem;
    font-weight:700;
    margin-top:1rem;
}

.time-element .text{
    height:30%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#344767;
    font-weight: 600;
}

.timeSeparator{
    height:75%;
    width:2px;
    border:1px solid rgba(199, 199, 199, 0.44);
    border-image: radial-gradient(rgb(202, 202, 202), rgba(255, 255, 255, 0));
    border-image-slice: 1;
}

/* Temp */
.section{
    height:500px;
    width:100%;
    border:2px solid black;
}